{{ "<!-- HOMEPAGE.HTML -->" | safeHTML }}

{{ $sections := .Site.Params.homepage.sections }}

{{ if in $sections "home" }}
    {{ partial "sections/home.html" . }}
{{ end }}

{{ if in $sections "pi" }}
    {{ partial "sections/pi.html" . }}
{{ end }}

{{ if in $sections "team" }}
    {{ partial "sections/team.html" . }}
{{ end }}

{{ if in $sections "research" }}
    {{ partial "sections/research.html" . }}
{{ end }}

{{ if in $sections "publications" }}
    {{ partial "sections/publications.html" . }}
{{ end }}

{{ if in $sections "contact" }}
    {{ partial "sections/contact.html" . }}
{{ end }}
