{{ "<!-- CONTACT -->" | safeHTML }}
{{ with .Site.Data.contact }}
    <section class="section" id="contact"
            {{ with .background_image }}
                style="background-image: url('{{ (printf "images/%s" .) | absURL }}');"
            {{ end }}
        >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-8">
                    {{ with .title }}
                        <h3 class="section-heading text-tertiary">{{ . }}</h3>
                        <hr class="primary">
                    {{ end }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-1 text-center">
                    <div class="profile bg-secondary">
                        {{ with .photo }}
			    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.273010547436!2d-77.45190925028488!3d37.548631132814066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b11144073ac46f%3A0xefd0bf66b61644c4!2sDepartment%20of%20Physics!5e0!3m2!1sen!2sus!4v1567472808759!5m2!1sen!2sus" width="600" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            <!-- <div class="portrait" title="photo: {{ . }}" style="background-image: url('{{ (printf "images/%s" .) | absURL }}');"></div> -->
                        {{ end }}

                        {{ with .description }}
                            <div class="text-primary">
                                <p>{{ . | markdownify }}</p>
                            </div>
                        {{ end }}

                        <div class="email-link" itemprop="email">
                            {{ with .email }}
                                {{ if .link }}
                                <a href="mailto:{{ .address }}">
                                {{ end }}
                                    {{ if .icon }}
                                        {{ $pack := or .icon_pack "fa" }}
                                        <i class="{{ $pack }} {{ .icon }}" aria-hidden="true">
                                    {{ end }}
                                    {{ .address }}
                                    </i>
                                {{ if .link }}
                                </a>
                                {{ end }}
                            {{ end }}
                        </div>

                        <ul class="icons-list" aria-hidden="true">
                            {{ range .social }}
                                {{ $pack := or .icon_pack "fa" }}
                                <li>
                                    <a itemprop="sameAs" href="{{ .link | safeURL }}" target="_blank" rel="noopener">
                                        <i class="{{ $pack }} {{ .icon }} icon-x2 wow bounceIn"></i>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
